
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/demo.css" rel="stylesheet" />

</head>
<body style="background-color:#cecece">
    
    <section class="pt-5 circle-1">
        <div class="float-right mr-5">
            <a href="@Url.Action("Index","Login")" class="btn btn-success">Siteye Geri Dön</a>
        </div>
        <div class="ourworks-box container pb-5 pt-5">
            <h1 class="our-works-head">ÇiftlikApp Uygulamasına Hoşgeldiniz</h1>
            <p>Uygulama ile ilgili görseller aşağıda bulunmaktadır.Uygulama ücretli olup fiyatı 600 ₺'dir. Uygulamayı slayt gösterisinin alt tarafaında bulunan butona tıklayarak indirebilirsiniz. Uygulamaya üye olmak için sercancalis7@gmail.com adresi ile iletişime geçiniz.</p>
        </div>

        <div class="container-fluid float-left">
            <div class="row col-lg-12 col-md-12 col-xs-12 mb-5">
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/3.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/1.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/2.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/5.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-xs-12 mb-5">
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/4.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/6.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/7.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/8.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-xs-12 mb-5">
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/9.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/10.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/11.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pb-4">
                    <img src="~/Images/12.jpeg" class="table-bordered table-dark p-1" width="280" />
                </div>
            </div>

        </div>

        <footer>
            <div class="row col-12 text-center mb-5">

                <div class="col-12">
                    @*download="~/Images/download.png"*@
                    <a href="#">
                        <img src="~/Images/download.png" />
                    </a>
                </div>



            </div>
        </footer>
    </section>
</body>
</html>

<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
